@import "../variables";
.products{
    background-color: #F7F8FC;
    padding-top:5px;
h1 {
    font-family: "Muli";
    text-align: center;
  }
  .phr {
    margin-left: 5%;
    margin-right: 5%;
    border-bottom: 1px solid $gray;
    .panimate-hr {
      width: 200px;
      height: 7px;
      background-color:$color;
      position: relative;
      margin: auto;
    }
  }
  .visible-products{
    padding: 5%;
    display: grid;
    grid-template-columns: 33% 33% 33%;
    .category {
        margin-right: 10px;
        background-color: white;
        padding: 5%;
        border-radius: 15px;
        text-align: center;      
        img{
            margin: auto;
            width:50%;
            aspect-ratio: 1/1;
            object-fit: contain;
        }
        p{
            font-family: 'Muli';      
            font-size: 15px;
        }   
        .original-price{
          display:inline;
          text-decoration: line-through;
          margin-right: 10px;
        }
        .new-price{
          color: #FC4059;
          display: inline;
          
        }
        .percentage{
          border-radius: 50%;
          background-color: #FC4059;
          color:white;
          width:70px;
          height: 70px;
          position: relative;
          top:-60%;
          left:80%;
          display: flex;
          align-items: center;
          justify-content: center;
        }
        .add-cart{
            display: flex;
            align-items: center;
            justify-content: center;
           button{
                margin:10px;
                height:30px;
                font-size: 15px;
                font-family: 'Muli';
            }
            .add{
                width:200px;
            }
            
        }
    }
  }

  .pcircle-buttons {
    text-align: center;
    padding-bottom: 1%;
    .circle {
      border: none;
      width: 15px;
      height: 15px;
      border-radius: 50%;
      background-color: #ccc;
      margin: 0 5px;
    }
    .circle.active {
      background-color: $color;
    }
  }
}