@import "../helper/breakpoints";
@import "../helper/variables";

@mixin justify {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

body {
  margin: 0;
}

.header {
  @include justify;
  background-color: black;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;

  .menu {
    color: $color;
    position: absolute;
    left: 0px;
  }

  h1 {
    color: white;
    position: relative;
    margin: auto;
    font-family: normal 900 40px/15px Muli;
    span {
      color: $color;
    }
  }

  .search-div {
    @include justify;
    display: none;
    height: 50px;

    .MuiInputBase-input {
      background-color: white;
      font-size: 16px;
      padding: 8px;
      border-radius: 10px;
      width: 600px;
      height: 25px;
      z-index:1;
    }

    .MuiInputLabel-root {
      color: black;
      font-size: 10px;
    }

    .MuiButton-root {
      background-color: $color;
      color:black;
      width:150px;
      border-radius: 10px;
      font-size: 16px;
      height: 41px;
      padding: 8px 16px; 
      z-index: 2;
      position: relative;
      right:10%;
      
    }
  }

  .icons {
    display: none;
    ul {
      list-style-type: none;
      display: flex; 
      li {
        color:white;
        font-size: 10px;
        margin-right:10px;
        margin-left: 10px;
        text-align: center;
        a{
          text-align: center;
          color: white;
          .custom-badge {
            background-color: $color !important;
            color: black !important; /* Change the text color if needed */
          }
        
          
          

        }
      }
    }
  }
  // .MuiDrawer-root{
  //   .drawer-content{
  //     .menu-bar{
  //       list-style-type: none;
  //       li{
  //         .MuiButton-root{
  //           color:$color;
  //         }
  //       }
  //     }
  //   }

  // }
  
}


@media screen and (max-width: medium) {
}

@include breakpoint(large) {
  .header {
    h1 {
      margin: 10px;
    }
    .menu {
      display: none;
    }

    .search-div {
      display:flex;
      align-content: normal;
    }

    .icons {
      display: flex;
    }
  }
}
