@import "~typeface-muli/index.css";
@import "../variables";
.head-cat {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 5%;
  padding-right: 5%;
  h1 {
    font-family: "Muli";
  }
  .circle-buttons {
    .circle {
      border: none;
      width: 15px;
      height: 15px;
      border-radius: 50%;
      background-color: #ccc;
      margin: 0 5px;
    }
    .circle.active {
      background-color: $color;
    }
  }
}
.hr {
  margin-left: 5%;
  margin-right: 5%;
  border-bottom: 1px solid $gray;
  .animate-hr {
    width: 200px;
    height: 7px;
    background-color: $color;
    position: relative;
  }
}

.visible-categories {
  padding: 5%;
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  .category {
    margin-right: 10px;
 
    .images {
      background-color: #f7f8fc;
      border-radius: 15px;
      padding: 20%;
      img {
        width: 100%;
        aspect-ratio: 1/1;
        object-fit: contain;
      }
    }
    h3 {
      font-family: "Muli";
      text-align: center;
    }
  }
}
